


nav {
    display: flex;
    list-style: none;
    text-align: left;
    border-radius: 15px;
    background-color: #FFDAB9;
}

nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: left;
}

nav li {
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    transition: color 0.3s ease; /* Smooth color transition */
}

.subnav{
    display: inline-block;
    text-align: left;
    background-color: rgb(185, 122, 99);
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 30px;
    text-decoration: none;
    color: antiquewhite;
}

#search_bar{
    border-radius: 10px;
    width: 200px;
    height: 20px;
    color: #4B4B4B;
    border: none;
    background-color: #FFF5EE;
    margin-right: 10px;
    margin-left: 500px;
    margin-bottom: 10px;
}
#submit{
    border-radius: 10px;
    width: 75px;
    height: 25px;
    background-color: #e89761;
    background-origin: padding-box;
    border: none;
    color: #4B4B4B;
}
#search{
    margin-left: auto;
    /*display: flex;
    align-items: center;*/
}

.main{
    text-align: center;
    background-color: rgb(78, 139, 160);
    color: rgb(237, 179, 102);
}

html{
    background-color: #F8F8F8;
}


.footer{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    background-color:rgb(207, 122, 62);
    position: relative;
    color: rgb(203, 203, 202);
    border-radius: 15px;
}

.number{
    color: rgb(65, 65, 215);
    padding-top: 10px;
}

.card{
    border: none;
    background-color: #fee4e7 !important;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 200px;
    height: 300px;
    flex: 0 0 auto;
}

.card .card-image{
    width: 90%;
    height: 50%;
    border-radius: 15px;
    margin-bottom: 10px;
}

.card .card-title{
    font-family: Arial, sans-serif;
    margin: 0;
    color: rgb(23, 88, 211);
    text-decoration: none;
}

.cart-item-image{
    width: 150px;
    height: 150px;
}
.section{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
}

.section::-webkit-scrollbar{
    display: none;
}

.title{
    font-family:Tahoma;
    color: rgb(162, 122, 74);
}

.ingredients{
    text-align: center;
    text-decoration: none;
}

.detail{
    color: rgb(55, 93, 164);
}

.addtocart{
    border-radius: 15px;
    height: 30px;
    width: 100px;
    color: antiquewhite;
    background-color: grey;
    border-color: antiquewhite;
}

.button{
    padding: 10px;
}